.title {
    font-family: "Press Start 2p", sans-serif;
    color: #FFF;
    text-shadow: 4px 4px 0 #000;
}

.title.-second {
    font-size: 40px;
    color: #BB85FF;
    margin-bottom: 28px;
}

.title.-third {
    text-shadow: none;
    text-align: center;
}